.brand-logo

  /* name */
  +m('name')
    +v('yota')
      background-color: var(--color-yota-brand)

    +v('megafon')
      background-color: var(--color-megafon-brand)

    +v('kcell')
      background-color: var(--color-kcell-brand)

    +v('mts')
      background-color: var(--color-mts-brand)

  /* sizes */
  +m('size')
    +v('xxs')
      width: 24px
      height: 24px

    +v('xs')
      width: 32px
      height: 32px

    +v('s')
      width: 40px
      height: 40px

    +v('m')
      width: 60px
      height: 60px

    +v('l')
      width: 80px
      height: 80px
