.button
  cursor: pointer
  background-color: var(--color-accent)

  /* size */
  +m('size')
    +v('s')
      height: 24px

    +v('m')
      height: 32px

    +v('l')
      height: 42px

    +v('xl')
      height: 56px

    +v('xxl')
      height: 64px

  /* width */
  +m('width')
    +v('full')
      width: 100%
