.commercial
  width: 100%
  max-width: 360px
  min-height: 430px

  +e('figure')
    height: 180px

  +e('text')
    width: 100%
    display: inline-flex
    flex-wrap: wrap
    justify-content: flex-start
    margin-top: var(--space-s)
    margin-bottom: var(--space-l)

    & .text__word
      width: 100%
      margin-top: var(--space-s)

  +e('info')
    flex-direction: column

  +e('navigation')
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(8px, max-content))
    grid-gap: var(--space-xs) var(--space-xs)
    justify-content: center

  +e('dot')
    cursor: pointer
    width: 8px
    height: 8px
    background-color: var(--color-accent)
