.commercial
  width: 100%
  max-width: 360px
  min-height: 430px

  +e('figure')
    width: 100%
    height: 180px
    display: inline-flex
    align-items: center
    justify-content: center
    border: 3px solid var(--color-border)

  +e('text')
    width: 100%
    display: inline-flex
    flex-wrap: wrap
    margin-top: -10px
    justify-content: center
    margin-bottom: var(--space-l)

    & .text__word
      margin-top: 10px

  +e('info')
    flex-direction: column

  +e('navigation')
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(8px, max-content))
    grid-gap: var(--space-xs) var(--space-xs)
    justify-content: center

  +e('dot')
    cursor: pointer
    width: 8px
    height: 8px
    background-color: var(--color-accent)
