.cover
  width: 100%
  max-width: 360px
  min-height: 408px

  +e('figure')
    height: 180px

  +e('preview')
    padding: 0 var(--space-xxl)

  +e('name')
    margin-bottom: var(--space-xxl)

  +e('info')
    padding-bottom: var(--space-l)
