.event
  min-height: 333px
  box-sizing: border-box
  max-width: 560px
  width: 100%

  +e('heading')
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: var(--space-l)

  +e('avatar')
    margin-right: var(--space-xs)

  +e('title')
    margin-bottom: var(--space-xxl)

  +e('text')
    display: flex
    justify-content: center
    align-items: center
    flex-wrap: wrap

    & .text__word
      width: 100%
      margin-top: var(--space-m)

  +e('description')
    margin-top: calc(var(--space-m) * -1)

  +e('footer')
    padding-top: 0

  +e('link')
    cursor: pointer




