.footer
  width: 100%
  padding: var(--space-xxxl) 0
  background-color: var(--color-primary)
  box-sizing: border-box

  +e('content')
    display: flex
    align-items: center
    justify-content: space-between
    max-width: 1144px
    margin: 0 auto

  +e(text)
    display: inline-flex

    .text__word
      width: 100%

    +m('right')
      margin-left: var(--space-xl)
      justify-content: flex-end

