.grid
  display: grid

  +m('vertical-align')
    +v('start')
      align-items: start

  /* Columns */
  +m('m-columns')
    +v('10')
      +media(1144px)
        grid-template-columns: repeat(var(--grid-columns-m-10), 1fr)

    +v('12')
      +media(1144px)
        grid-template-columns: repeat(var(--grid-columns-m-12), 1fr)

  /* Gaps */
  +m('col-gap')
    +v('one-thirds')
      grid-row-gap: 12px

      +media(1144px)
        grid-row-gap: initial
        grid-column-gap: 12px

    +v('two-thirds')
      grid-row-gap: 24px

      +media(1144px)
        grid-row-gap: initial
        grid-column-gap: 24px

    +v('full')
      grid-row-gap: 36px

      +media(1144px)
        grid-column-gap: 36px

  +m('row-gap')
    +v('half')
      grid-column-gap: 20px

    +v('full')
      grid-column-gap: 30px

  +e('fraction')
    /* Column width */
    +media(1144px)
      +m('m-col')
        +v('2')
          grid-column: 2 span

        +v('3')
          grid-column: 3 span

        +v('4')
          grid-column: 4 span

        +v('5')
          grid-column: 5 span

        +v('8')
          grid-column: 8 span


