.grid
  display: grid

  /* Columns */
  +m('xs-columns')
    +v('3')
      grid-column: var(--grid-columns-xs-3)

  +m('s-columns')
    +v('3')
      grid-column: var(--grid-columns-s-3)

    +v('6')
      grid-column: var(--grid-columns-s-6)

  +m('m-columns')
    +v('10')
      grid-column: var(--grid-columns-m-10)

    +v('12')
      grid-column: var(--grid-columns-m-12)

  /* Gaps */
  +m('col-gap')
    +v('two-thirds')
      grid-column-gap: calc(100% * (2 / 3))

    +v('full')
      grid-column-gap: 100%

  +m('row-gap')
    +v('half')
      grid-column-gap: 50%

    +v('full')
      grid-column-gap: 100%

  +e('fraction')

    /* Column width */
    +m('xs-col')
      +v('3')
        grid-auto-columns: 3fr

    +m('m-col')
      +v('2')
        grid-auto-columns: 2fr

      +v('3')
        grid-auto-columns: 3fr

      +v('4')
        grid-auto-columns: 4fr

      +v('5')
        grid-auto-columns: 5fr

      +v('8')
        grid-auto-columns: 8fr


