.header
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: var(--space-xxxl) 0
  background-color: var(--color-primary)
  box-sizing: border-box

  +e('logotype')
    width: 100%
    max-width: 179px
    height: 34px
    background-color: var(--color-text-primary)
    margin-right: var(--space-xl)
