.layout
  +e('container')

    /* ALIGN */
    +m('align')
      +m('center')
        margin: 0 auto

    /* SIZE */
    +m('size')
      +m('s')
        max-width: var(--max-width-s)

      +m('m')
        max-width: var(--max-width-m)
