.layout
  +e('container')
    min-height: 100vh
    display: flex
    flex-direction: column
    width: 90%

    +media(1144px)
      width: 100%

    /* ALIGN */
    +m('align')
      +v('center')
        margin: 0 auto

    /* SIZE */
    +m('size')
      +v('s')
        max-width: var(--max-width-s)

      +v('m')
        max-width: var(--max-width-m)
