.offer
  width: 100%
  max-width: 264px
  min-height: 408px

  +e('partner')
    display: flex
    flex-direction: column

  +e('discount')
    margin-bottom: 20px

  +e('text')
    display: inline-flex
    flex-wrap: wrap
    margin-top: -14px

    .text__word
      margin-top: 14px

  +e('brand-logo')
    margin-bottom: 178px

