.payment
  box-sizing: border-box
  width: 100%
  //max-width: 556px
  background-color: var(--color-primary)

  +e('button')
    width: 200px
    margin-top: var(--space-xl)

  +e('label')
    flex-shrink: 0
    margin-bottom: var(--space-xl)
    //margin-right: var(--space-xxxl)

    +media(1140px)
      margin-bottom: 0

  +e('btn-label')
    max-width: 50%
    margin-top: var(--space-xl)

  +e('footer')
    margin-top: calc(var(--space-xl) * -1)

  +e('control')
    flex-wrap: wrap

    +media(1140px)
      flex-wrap: nowrap

  +e('header')
    padding-top: 28px

