.product
  box-sizing: border-box
  width: 100%
  //max-width: 218px
  min-height: 280px

  +e('image')
    background-color: var(--color-text-primary)
    height: 160px

  +e('footer')
    padding-bottom: 20px
    flex-direction: column

  +e('description')
    margin-top: var(--space-s)
