.section
  background-color: var(--color-primary)

  /* indent bottom */
  +m('indent-b')
    +v('xxl')
      margin-bottom: var(--space-xxl)

    +v('xxxl')
      margin-bottom: var(--space-xxxl)

    +v('xxxxl')
      margin-bottom: var(--space-xxxxl)

  /* space vertical */
  +m('space-v')
    +v('xxl')
      padding-top: var(--space-xxl)
      padding-bottom: var(--space-xxl)

    +v('xxxl')
      padding-top: var(--space-xxxl)
      padding-bottom: var(--space-xxxl)

    +v('xxxxl')
      padding-top: var(--space-xxxxl)
      padding-bottom: var(--space-xxxxl)

