.text
  display: inline-flex
  flex-wrap: wrap
  width: 100%
  /* align */
  +m('align')
    +v('center')
      text-align: center

  /* size */
  +m('size')
    +v('s')

      .text__word
        height: 7px
        /* width */
        &_width_s
          max-width: 20px

        &_width_m
          max-width: 48px

        &_width_l
          max-width: 100px

    +v('m')

      .text__word
        height: 8px
        /* width */
        &_width_s
          max-width: 24px

        &_width_m
          max-width: 56px

        &_width_l
          max-width: 114px

    +v('l')

      .text__word
        height: 10px
        /* width */
        &_width_s
          max-width: 28px

        &_width_m
          max-width: 68px

        &_width_l
          max-width: 138px

    +v('xl')

      .text__word
        height: 11px
        /* width */
        &_width_s
          max-width: 32px

        &_width_m
          max-width: 74px

        &_width_l
          max-width: 154px

    +v('xxl')

      .text__word
        height: 13px
        /* width */
        &_width_s
          max-width: 36px

        &_width_m
          max-width: 88px

        &_width_l
          max-width: 184px

  /* type */
  +m('type')
    +v('h1')
      margin: 24px 0 12px

    +v('h2')
      margin: 40px 0 10px

    +v('h3')
      margin: 43px 0 0

    +v('p')
      margin: 15px 0 21px

      .text__word
        margin-top: var(--font-size-xxl)


  /* view */
  +m('view')
    +v('primary')
      .text__word
        background-color: var(--color-text-primary)

    +v('secondary')
      .text__word
        background-color: var(--color-text-secondary)

    +v('ghost')
      .text__word
        background-color: var(--color-text-tertiary)

    +v('link')
      .text__word
        background-color: var(--color-link)

  +e('word')
    width: 100%
