.theme
  /* COLORS */
  +m('color')
    +v('default')
      --color-primary: var(--color-white)
      --color-accent: var(--color-blue)
      --color-border: var(--color-black)
      --color-text-primary: var(--color-black)
      --color-text-secondary: var(--color-black-6)
      --color-text-tertiary: var(--color-black-3)
      --color-link: var(--color-lightblue)

    +v('project-brand')
      --color-primary: var(--color-lightblue)
      --color-accent: var(--color-white)
      --color-border: var(--color-white)
      --color-text-primary: var(--color-white)
      --color-text-secondary: var(--color-white-6)
      --color-text-tertiary: var(--color-white-3)
      --color-link: var(--color-white)

    +v('project-inverse')
      --color-primary: var(--color-black)
      --color-accent: var(--color-white)
      --color-border: var(--color-white)
      --color-text-primary: var(--color-white)
      --color-text-secondary: var(--color-white-6)
      --color-text-tertiary: var(--color-white-3)
      --color-link: var(--color-lightblue)

      img:not(.commercial__img),
      img:not(.cover__img)
        filter: invert(1)

    +v('project-warning')
      --color-primary: var(--color-orange)
      --color-accent: var(--color-white)
      --color-border: var(--color-white)
      --color-text-primary: var(--color-white)
      --color-text-secondary: var(--color-white-6)
      --color-text-tertiary: var(--color-white-3)
      --color-link: var(--color-white)

    +v('megafon-brand')
      --color-primary: var(--color-green-brand)
      --color-accent: var(--color-white)
      --color-border: var(--color-white)
      --color-text-primary: var(--color-white)
      --color-text-secondary: var(--color-white-6)
      --color-text-tertiary: var(--color-white-3)
      --color-link: var(--color-white)

  /* SIZES */
  +m('size')
    +v('default')
      font-size: initial
      line-height: initial

    +v('s')
      font-size: var(--font-size-s)
      line-height: var(--line-height-s)

    +v('m')
      font-size: var(--font-size-m)
      line-height: var(--line-height-m)

    +v('l')
      font-size: var(--font-size-l)
      line-height: var(--line-height-l)

    +v('xl')
      font-size: var(--font-size-xl)
      line-height: var(--line-height-xl)

    +v('xxl')
      font-size: var(--font-size-xxl)
      line-height: var(--line-height-xxl)

  /* SPACES */
  +m('space')
    +v('default')
      padding: initial

    +v('xxxs')
      padding: var(--space-xxxs)

    +v('xxs')
      padding: var(--space-xxs)

    +v('xs')
      padding: var(--space-xs)

    +v('s')
      padding: var(--space-s)

    +v('m')
      padding: var(--space-m)

    +v('l')
      padding: var(--space-l)

    +v('xl')
      padding: var(--space-xl)

    +v('xxl')
      padding: var(--space-xxl)

    +v('xxxl')
      padding: var(--space-xxxl)

    +v('xxxxl')
      padding: var(--space-xxxxl)

  /* GAPS */
  +m('gap')
    +v('small')
      margin: var(--gap-default)

      +media(1144px)
        --gap-default: var(--space-xxxl)
