.warning
  box-sizing: border-box
  width: 100%
  //max-width: 556px
  min-height: 335px

  +e('content')
    flex-direction: column
    align-items: center

  +e('button')
    width: 200px

  +e('placeholder')
    margin-top: var(--space-l)
    margin-bottom: var(--space-m)

  +e('title')
    display: inline-flex
    flex-wrap: wrap
    justify-content: center
    width: 100%
    padding-top: var(--space-s)
    margin-top: calc(var(--line-height-s) * -1)
    margin-bottom: var(--space-xxxl)

    .text__word
      width: 100%
      margin-top: var(--line-height-s)

